<ion-header>
  <ion-toolbar>
    <ion-title>Fichas Contables</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchText" (ionInput)="filtrarFichas()"
                   placeholder="Buscar cliente..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let ficha of fichasFiltradas">
        <ion-card class="ficha-card">
          <ion-card-header>
            <div class="ficha-info">
              <ion-card-title>{{ ficha.clienteNombre }}</ion-card-title>
            </div>
          </ion-card-header>

          <ion-card-content>
            <p><ion-icon name="cash-outline"></ion-icon> {{ ficha.saldo }}</p>

            <ion-button expand="full" color="primary" (click)="agregarTransaccion(ficha.clienteId)">
              Añadir Transacción
            </ion-button>

            <ion-list>
              <ion-item *ngFor="let transaccion of getTransaccionesFiltradas(ficha.clienteId)"
                        (click)="editarTransaccion(transaccion)">
                <ion-label>
                  <p><strong>Monto:</strong> {{ transaccion.monto }}</p>
                  <p><strong>Descripción:</strong> {{ transaccion.descripcion }}</p>
                </ion-label>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
